@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',sans-serif;
  color: #fff;
}

.particles {
  background-color: #1a1a1c; 
  position: fixed;
  color: #a01c1c;;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: #fff;
}

.coin-button-container {
  width: 900px;
  height: 80px;
  
}

.coin-button {
    padding-left: 0px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    outline:#c9c9df;
    background-image: linear-gradient(
      -225deg,
    #1b6314 0%,
    #1b5310 48%,
    #15580f 100%
    );
    color: #e2e2e2;
    

}

.coin-search {
  margin-bottom:64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin-tab-container {
  width: 900px;
  height: 80px;
}

.coin-tabs {
    padding-left: 0px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    outline:#c9c9df;
    background-image: linear-gradient(
      -225deg,
    #115716 0%,
    #19500f 48%,
    #305c0d 100%
   
    );
    color: #e2e2e2;

}

.coin-text {
  margin-bottom: 32px;
  text-align: center;

}

.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -225deg,
   #47911c 0%,
   #0f9926 48%,
   #027b80 100%
   );
   color: #e2e2e2;

}

.coin-input::placeholder {
  color: #e2e2e2;
}
